* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: white;
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00f2ff;
}

/* Home */
.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home span {
    color: #00f2ff;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #00f2ff;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    background: white;
}

/* Sections */
.section {
    padding: 100px 10%;
    text-align: center;
    min-height: 100vh;
}

.skills-container,
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.skill-card,
.project-card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    width: 200px;
    transition: 0.3s;
}

.skill-card:hover,
.project-card:hover {
    transform: translateY(-10px);
    background: #00f2ff;
    color: black;
}

.project-card p {
    font-size: 14px;
    margin-top: 8px;
    line-height: 1.5;
}

.skill-card h3 {
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
}

.skill-card p {
    font-size: 14px;
    line-height: 1.5;
}

.skill-card {
    background: rgba(255, 255, 255, 0.08);
    padding: 25px;
    border-radius: 20px;
    width: 230px;
    transition: 0.4s ease;
}

.skill-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 10px 25px rgba(0, 242, 255, 0.3);
}


#about p {
    margin-top: 15px;
    line-height: 1.7;
    font-size: 16px;
}

#about {
    max-width: 900px;
    margin: auto;
}

#about p {
    margin-top: 18px;
    line-height: 1.8;
    font-size: 17px;
    opacity: 0.9;
}

.contact-links {
    margin-top: 20px;
}

.contact-btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 25px;
    background: #00f2ff;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.contact-btn:hover {
    transform: scale(1.1);
    background: white;
}


.section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    position: relative;
}

.section h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #00f2ff;
    display: block;
    margin: 10px auto 0;
}